# Project title:Assembly of Triacylglycerol (TAG) molecular species using fatty acids
**Name**: Prasad Parchuri <br/>
**Semester**: Spring 2019 <br/>
**Project area**: Lipids


#Progress

In [2]:
#importing the modules 
import glob
import pandas as pd

In [9]:
#Reading the files
dataset_dir = '/users/prasadparchuri/Desktop/Coding/Semester-Project/'
glob.os.chdir(dataset_dir)

#reading the file having four columns(Col1 = NL FA; col2 = Mass; Col3 = Compound name; Col4 = sample signal)
data=pd.read_excel("TAG coding.xlsx") 

data

    NL FA    Mass Compound Name    QC06
0    16:1  818.72     TAG(48:3)  0.0000
1    16:1  820.74     TAG(48:2)  0.0001
2    16:1  822.75     TAG(48:1)  0.0000
3    16:1  824.77     TAG(48:0)  0.0000
4    16:1  836.67     TAG(50:8)  0.0000
5    16:1  838.69     TAG(50:7)  0.0000
6    16:1  840.71     TAG(50:6)  0.0000
7    16:1  842.72     TAG(50:5)  0.0001
8    16:1  844.74     TAG(50:4)  0.0003
9    16:1  846.75     TAG(50:3)  0.0002
10   16:1  848.77     TAG(50:2)  0.0002
11   16:1  850.78     TAG(50:1)  0.0000
12   16:1  852.80     TAG(50:0)  0.0000
13   16:1  862.69     TAG(52:9)  0.0000
14   16:1  864.71     TAG(52:8)  0.0005
15   16:1  866.72     TAG(52:7)  0.0011
16   16:1  868.74     TAG(52:6)  0.0007
17   16:1  870.75     TAG(52:5)  0.0007
18   16:1  872.77     TAG(52:4)  0.0004
19   16:1  874.78     TAG(52:3)  0.0003
20   16:1  876.80     TAG(52:2)  0.0000
21   16:1  878.81     TAG(52:1)  0.0000
22   16:1  880.83     TAG(52:0)  0.0000
23   16:1  884.67    TAG(54:12)  0.0000
24   16:1  886.69    TAG(54:11)  0.0000
25   16:1  888.71    TAG(54:10)  0.0001
26   16:1  890.72     TAG(54:9)  0.0002
27   16:1  892.74     TAG(54:8)  0.0001
28   16:1  894.75     TAG(54:7)  0.0001
29   16:1  896.77     TAG(54:6)  0.0001
..    ...     ...           ...     ...
586  20:3  890.72     TAG(54:9)  0.0004
587  20:3  892.74     TAG(54:8)  0.0003
588  20:3  894.75     TAG(54:7)  0.0002
589  20:3  896.77     TAG(54:6)  0.0002
590  20:3  898.78     TAG(54:5)  0.0001
591  20:3  900.80     TAG(54:4)  0.0000
592  20:3  902.81     TAG(54:3)  0.0000
593  20:3  904.83     TAG(54:2)  0.0000
594  20:3  906.85     TAG(54:1)  0.0000
595  20:3  908.86     TAG(54:0)  0.0000
596  20:3  918.75     TAG(56:9)  0.0005
597  20:3  920.77     TAG(56:8)  0.0004
598  20:3  922.78     TAG(56:7)  0.0003
599  20:3  924.80     TAG(56:6)  0.0001
600  20:3  926.81     TAG(56:5)  0.0001
601  20:3  928.83     TAG(56:4)  0.0000
602  20:3  930.85     TAG(56:3)  0.0000
603  20:3  932.86     TAG(56:2)  0.0000
604  20:3  934.88     TAG(56:1)  0.0000
605  20:3  936.89     TAG(56:0)  0.0000
606  20:3  950.81     TAG(58:7)  0.0000
607  20:3  952.83     TAG(58:6)  0.0000
608  20:3  954.85     TAG(58:5)  0.0000
609  20:3  956.86     TAG(58:4)  0.0000
610  20:3  958.88     TAG(58:3)  0.0000
611  20:3  960.89     TAG(58:2)  0.0000
612  20:3  962.91     TAG(58:1)  0.0000
613  20:3  964.92     TAG(58:0)  0.0000
614  20:3  984.89     TAG(60:4)  0.0000
615  20:3  986.91     TAG(60:3)  0.0000

[616 rows x 4 columns]

In [8]:
# Filtering the data and removing mass with signal lessthan equal to 0.00015
data.drop(data.loc[data['QC06']<=0.000150].index, inplace=True) 

# sorting (Ascending) the data based on Compound name and then NL FA
data.sort_values(["Compound Name"], axis=0, ascending=True, inplace=True) 
print(data)

    NL FA    Mass Compound Name      QC06
59   16:0  824.77     TAG(48:0)  0.000191
67   16:0  850.78     TAG(50:1)  0.003544
179  18:1  850.78     TAG(50:1)  0.001100
66   16:0  848.77     TAG(50:2)  0.004409
10   16:1  848.77     TAG(50:2)  0.000200
178  18:1  848.77     TAG(50:2)  0.000200
234  18:2  848.77     TAG(50:2)  0.001900
65   16:0  846.75     TAG(50:3)  0.004912
9    16:1  846.75     TAG(50:3)  0.000200
233  18:2  846.75     TAG(50:3)  0.000200
289  18:3  846.75     TAG(50:3)  0.002600
288  18:3  844.74     TAG(50:4)  0.000500
344  18:4  844.74     TAG(50:4)  0.001300
64   16:0  844.74     TAG(50:4)  0.001559
8    16:1  844.74     TAG(50:4)  0.000300
287  18:3  842.72     TAG(50:5)  0.000200
343  18:4  842.72     TAG(50:5)  0.000200
286  18:3  840.71     TAG(50:6)  0.000500
285  18:3  838.69     TAG(50:7)  0.000200
341  18:4  838.69     TAG(50:7)  0.000300
302  18:3  880.83     TAG(52:0)  0.000700
358  18:4  880.83     TAG(52:0)  0.000600
77   16:0  878.81     TAG(52:1)  0.000919
133  18:0  878.81     TAG(52:1)  0.001000
189  18:1  878.81     TAG(52:1)  0.000400
301  18:3  878.81     TAG(52:1)  0.000200
357  18:4  878.81     TAG(52:1)  0.000400
300  18:3  876.80     TAG(52:2)  0.000300
244  18:2  876.80     TAG(52:2)  0.000800
76   16:0  876.80     TAG(52:2)  0.006471
..    ...     ...           ...       ...
597  20:3  920.77     TAG(56:8)  0.000400
485  20:1  920.77     TAG(56:8)  0.006500
317  18:3  920.77     TAG(56:8)  0.003467
261  18:2  920.77     TAG(56:8)  0.000400
429  20:0  920.77     TAG(56:8)  0.001800
316  18:3  918.75     TAG(56:9)  0.001100
372  18:4  918.75     TAG(56:9)  0.002300
428  20:0  918.75     TAG(56:9)  0.000300
484  20:1  918.75     TAG(56:9)  0.001200
540  20:2  918.75     TAG(56:9)  0.002200
596  20:3  918.75     TAG(56:9)  0.000500
274  18:2  958.88     TAG(58:3)  0.000200
106  16:0  958.88     TAG(58:3)  0.000158
218  18:1  958.88     TAG(58:3)  0.000200
497  20:1  956.86     TAG(58:4)  0.000200
329  18:3  956.86     TAG(58:4)  0.000300
273  18:2  956.86     TAG(58:4)  0.000200
217  18:1  956.86     TAG(58:4)  0.000200
496  20:1  954.85     TAG(58:5)  0.000300
216  18:1  954.85     TAG(58:5)  0.000200
272  18:2  954.85     TAG(58:5)  0.000200
328  18:3  954.85     TAG(58:5)  0.000300
384  18:4  954.85     TAG(58:5)  0.000200
383  18:4  952.83     TAG(58:6)  0.000200
495  20:1  952.83     TAG(58:6)  0.000200
271  18:2  952.83     TAG(58:6)  0.000300
327  18:3  952.83     TAG(58:6)  0.000400
551  20:2  952.83     TAG(58:6)  0.000200
326  18:3  950.81     TAG(58:7)  0.000800
382  18:4  950.81     TAG(58:7)  0.000300

[235 rows x 4 columns]

In [1]:
# Defining the function
from itertools import combinations 

def TAGcombinations(arr, r): 
    '''Current roadblocks: Need to write coding that will give TAG combinations based on Total carbon: Double bonds. For example, TAG(50:2) is identified at 
        16:0, 16:1, 18:1, 18:2. It will form TAG combinations as 16:0-16:0-18:2, 16:0-16:1-18:1.'''

    return list(combinations(arr, r)) # return list of all TAGcombinations of length r 
                                      # to deal with duplicate subsets use set(list(combinations(arr, r))) 
                                        

#calling the  Function 
 
arr = ["16:0", "16:1", "18:1", "18:2"] 
r = 3
X = TAGcombinations(arr, r)
print(X)

[('16:0', '16:1', '18:1'), ('16:0', '16:1', '18:2'), ('16:0', '18:1', '18:2'), ('16:1', '18:1', '18:2')]